# Python / tooling
**/*.py
**/__pycache__/
**/.mypy_cache/
**/.ruff_cache/
**/.pytest_cache/
**/.venv/
**/venv/

# Dependencies
**/node_modules/

# Home Assistant dev data
.ha/
.storage/

# Editors / system
.idea/
.vscode/
.DS_Store
