[tool.black]
line-length = 80
target-version = ["py311"]
include = '\.pyi?$'
extend-exclude = '''
/(
  \.git
| \.mypy_cache
| \.pytest_cache
| \.ruff_cache
| \.tox
| \.venv
| build
| dist
)/
'''

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = ["tests"]
